<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Discentes / Visualizar</title>
    <!-- Select2 -->
    <link rel="stylesheet" href="../bower_components/select2/dist/css/select2.min.css">

    <% include partes/scripts-base %>
    <script src="../plugins/input-mask/jquery.inputmask.js"></script>
    <script src="../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="../plugins/input-mask/jquery.inputmask.extensions.js"></script>
    

</head>
<body class="hold-transition skin-blue sidebar-mini" >
    <div class="wrapper ">
         <% include partes/header %>
        
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
          <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
              <!-- Optionally, you can add icons to the links -->
          
                  <li ><a href="/coordenador/indicadores"><i class="fa fa-area-chart"></i> <span>Indicadores</span></a></li>
        
                  <li ><a href="/secretaria/aprovacoes"><i class="glyphicon glyphicon-ok"></i> <span>Aprovações</span></a></li>
                
                  <li class="active"><a href="/discentes/filtro"><i class="fa fa-book"></i> <span>Discentes</span></a></li>
            </ul>
            <!-- /.sidebar-menu -->
          </section>
          <!-- /.sidebar -->
        </aside>
      

        <div class="content-wrapper" > 
                    <section class="content container-fluid">

                        <!-- general form elements -->
                        <div class="box box-primary">
                          <div class="box-header with-border">
                            <h1 class="box-title">Visualizar dados de Discente</h1>
                          </div>
                          <!-- /.box-header -->
                          <!-- form start -->
                          <form role="form" >
                            <div class="box-body">
                                
                              <div id="div_discente_nome" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                                        <label >Nome *</label>
                                        <input disabled type="text" class="form-control" id="discente_nome" placeholder="João">
                                        <span id="err_discente_nome" class="help-block"></span>
                              </div>
                              <div id="div_discente_sobrenome" class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                                  <label >Sobrenome *</label>
                                  <input disabled type="text" class="form-control" id="discente_sobrenome" placeholder="Silva">
                                  <span id="err_discente_sobrenome" class="help-block"></span>
                              </div>
                              
                              <div id="div_discente_datanascimento" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                  <label >Data de nascimento *</label>
                                  <input disabled id="discente_datanascimento" type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                  <span id="err_discente_datanascimento" class="help-block"></span>
                              </div>
                              <div id="div_discente_nascionalidade" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                    <label >Nacionalidade: </label>
                                    
                                    <select disabled id="list_nacionalidade" class="form-control select2" style="width: 100%;" name="id_nacionalidade">
                                            <% for(var i = 0; i < paises.length ; i++){ %> 
                                                <option value="<%= paises[i].id_pais %>"><%= paises[i].nacionalidade %> </option>
                                            <% } %>

                                    </select>
                                    <span id="err_discente_nascionalidade" class="help-block"></span>      
                                </div>

                              <div id="card_discente_rg"  class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                  <label >RG</label>
                                  <input disabled type="text" class="form-control" id="discente_rg">
                              </div>
                              <div id="div_discente_cpf" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                  <label >CPF</label>
                                  <input disabled type="text" class="form-control" id="discente_cpf">
                                  <span id="err_discente_cpf" class="help-block"></span>  
                              </div>
                              <div id="card_discente_passaporte" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                  <label >Nº do Passaporte</label>
                                  <input disabled type="text" class="form-control" id="discente_passaporte">
                              </div>

                              <div id="div_discente_sexo" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                    <label >Sexo: </label>
                                    
                                    <select disabled id="list_sexo" class="form-control" style="width: 100%;" name="id_sexo">
                                                <option value="1">Masculino</option>
                                                <option value="2">Feminino</option>
                                                <option value="3">Outro</option>
                                    </select>
                                    <span id="err_discente_sexo" class="help-block"></span>   
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <label>Telefone</label> 
                                        <input disabled id="discente_telefone" type="text" class="form-control" data-inputmask='"mask": "(99) 99999-9999"' data-mask>
                                        
                                        <!-- /.input group -->
                                </div>

                              
                                <div id="div_discente_id_pais" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <label >Endereço: País * </label>
                                        
                                        <select disabled id="list_pais" class="form-control select2" style="width: 100%;" name="endereco_id_pais">
                                                <% for(var i = 0; i < paises.length ; i++){ %> 
                                                    <option value="<%= paises[i].id_pais %>"><%= paises[i].nome %> </option>
                                                <% } %>
                                        </select>
                                        <span id="err_discente_id_pais" class="help-block"></span>   
                                </div>
                              <div id="div_discente_username" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                    <label >Nome de usuário * </label>
                                    <input disabled type="text" class="form-control" id="discente_username" placeholder="exemplosilva2018">
                                    <span id="err_discente_username" class="help-block"></span>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                    <label >Link perfil do Lattes</label>
                                    <input disabled type="text" class="form-control" id="discente_linkperfillattes" >
                                </div>
  
                                <div id="div_discente_id_titulo" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                      <label >Título * </label>
                                      
                                      <select disabled id="list_titulos" class="form-control select2" style="width: 100%;" name="id_titulo">
                                              <% for(var i = 0; i < titulos.length ; i++){ %> 
                                                  <option value="<%= titulos[i].id_titulo %>"><%= titulos[i].nome %> </option>
                                              <% } %>
                                      </select>
                                      <span id="err_discente_id_titulo" class="help-block"></span>
                                  </div>

                                <div id="div_discente_id_orientador" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <label >Orientador * </label>
                                        
                                        <select disabled id="list_docentes" class="form-control select2" style="width: 100%;" name="id_titulo">
                                                <% for(var i = 0; i < docentes.length ; i++){ %> 
                                                    <option value="<%= docentes[i].id_docente %>"><%= docentes[i].nome + " " + docentes[i].sobrenome %> </option>
                                                <% } %>
                                        </select>
                                        <span id="err_discente_id_orientador" class="help-block"></span>   
                                </div>
                                  <div id="div_discente_id_tipo" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <label >Tipo de discente * </label>
                                        
                                        <select disabled id="list_tipos_discente" class="form-control select2" style="width: 100%;" name="id_titulo">
                                                <% for(var i = 0; i < tipos_discente.length ; i++){ %> 
                                                    <option value="<%= tipos_discente[i].id_tipo_discente %>"><%= tipos_discente[i].nome %> </option>
                                                <% } %>
                                        </select>
                                         
                                </div>
                                           
                                
                              <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <label>Ocupação * </label>
                                        
                                        
                                        <div class="box-body table-responsive no-padding ">
                                                <table id="tabela_ocupacoes" class="table table-hover">
                                                
                                                 
                                                </table>
                                        </div>
                                    
                                              <div id="div_add_ocupacao" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 remover" >

                                                    <div class="box box-solid " style="background:#F0F8FF; margin-top: 10px;">
                                                            <div class="box-header with-border" style="background:#ADD8E6;">
                                                              <h3 class="box-title">Nova Ocupação</h3>
                                                            </div>
                                                            <!-- /.box-header -->
                                                            <div class="box-body">
                                                                    <div id="div_add_ocupacao_cargo" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                            <label >Cargo * </label>
                                                                            <input disabled type="text" class="form-control" id="add_ocupacao_cargo" >
                                                                            <span id="erro_add_ocupacao_cargo" class="help-block"></span>
                                                                    </div>
                                                                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                            <label >Instituição * </label>
                                                                            <select disabled id="list_instituicoes" class="form-control select2" style="width: 100%;" >
                                                                        
                                                                                    <% for(var i = 0; i < instituicoes.length ; i++){ %> 
                                                                                        <option value="<%= instituicoes[i].id_instituicao %>"><%= "[" + instituicoes[i].sigla + "] " + instituicoes[i].nome + " - "+ instituicoes[i].tipo_instituicao.nome %> </option>
                                                                                    <% } %>
                                                                                        <option value="0"> Outra </option>
                                                                            </select>
                                                                    </div>

                                                                    <div id="nova_instituicao" class="remover">
                                                                            <div id="div_add_instituicao_nome" class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-6">
                                                                                    <label >Nome da Instituição * </label>
                                                                                    <input disabled type="text" class="form-control" id="add_instituicao_nome" >
                                                                                    <span id="erro_add_instituicao_nome" class="help-block"></span>
                                                                                    
                                                                            </div>
                                                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                                                                    <label >Sigla da Instituição * </label>
                                                                                    <input disabled type="text" class="form-control" id="add_instituicao_sigla" >
                                                                            </div>
                                                                            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                                                                    <label >Tipo * </label>
                                                                                    <select disabled id="list_tipo_instituicoes" class="form-control select2" style="width: 100%;" >
                                                                                
                                                                                            <% for(var i = 0; i < tipos_instituicao.length ; i++){ %> 
                                                                                                <option value="<%= tipos_instituicao[i].id %>"><%=tipos_instituicao[i].nome %> </option>
                                                                                            <% } %>
                                                                                                
                                                                                    </select>
                                                                            </div>
                                                                           
                                                                    </div>
                                                                    
                                                                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:10px;">
                                                                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 pull-right" >
                                                                                    <button id="button_add_ocupacao_lista_salvar" type="button" class="btn btn-block btn-info " >Salvar</button>
                                                                            </div>  
                                                                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 pull-right" >
                                                                                    <button id="button_add_ocupacao_lista_fechar" type="button" class="btn btn-block btn-default " >Cancelar</button>
                                                                            </div>  
                                                                                 
                                                                    </div>
                                                            </div>
                                                            <!-- /.box-body -->
                                                          </div>

                                              </div>
                                              
                              </div>
                              
                              <div id="div_discente_email" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="exampleInputEmail1">Email * </label>
                                <input disabled  type="email" class="form-control" id="discente_email" placeholder="exemplo@email.com">
                                <span id="err_discente_email" class="help-block"></span> 
                              </div>
                            </div>
                            <!-- /.box-body -->
                          </form>

                          <div id="resultado"></div>
                </div>
        </section>
    </div>
</body>
<script src="../bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="../javascripts/discente-visualizar.js"></script>

<script>
        var lista_tipo_instituicao = '<%-JSON.stringify(tipos_instituicao) %>';
        lista_tipo_instituicao = JSON.parse(lista_tipo_instituicao);

        var lista_instituicao = '<%-JSON.stringify(instituicoes) %>';
        lista_instituicao = JSON.parse(lista_instituicao);
</script>
</html>