<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Discentes / Registro</title>
    <!-- Select2 -->
    <link rel="stylesheet" href="../bower_components/select2/dist/css/select2.min.css">

    <% include partes/scripts-base %>
    <script src="../plugins/input-mask/jquery.inputmask.js"></script>
    <script src="../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="../plugins/input-mask/jquery.inputmask.extensions.js"></script>
    

</head>
<body >
    <div class="backSite wrapper ">
        
        <div class="container " >
                <div style="margin:30px;">
                <section class="content-header" >
                        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2" >
                            <img src="https://www5.unioeste.br/eventos/identidadevisual/LOGOTIPOUNIOESTE.png" width="100%;" />
                        </div>
                        <h1 style="float:right;">
                                <b>PPGTGS</b>
                          
                        </h1>
                        
                </section>
                </div>
                
                <div class="col-md-12" style="margin-top:30px;">
                        <!-- general form elements -->
                        <div class="box box-primary">
                          <div class="box-header with-border">
                            <h1 class="box-title">Registro de Discente</h1>
                          </div>
                          <!-- /.box-header -->
                          <!-- form start -->
                          <form role="form" >
                            <div class="box-body">
                                
                              <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                                        <label >Nome *</label>
                                        <input type="text" class="form-control" id="discente_nome" placeholder="João">
                              </div>
                              <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" >
                                  <label >Sobrenome *</label>
                                  <input type="text" class="form-control" id="discente_sobrenome" placeholder="Silva">
                              </div>
                              
                              <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                  <label >Data de nascimento *</label>
                                  <input type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask>
                              </div>
                              <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                    <label >Nacionalidade: </label>
                                    
                                    <select id="list_nacionalidade" class="form-control select2" style="width: 100%;" name="id_nacionalidade">
                                            <% for(var i = 0; i < paises.length ; i++){ %> 
                                                <option value="<%= paises[i].id_pais %>"><%= paises[i].nome %> </option>
                                            <% } %>

                                    </select>
                                          
                                </div>

                              <div id="card_discente_rg"  class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                  <label >RG</label>
                                  <input type="text" class="form-control" id="discente_rg">
                              </div>
                              <div id="card_discente_cpf" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                  <label >CPF</label>
                                  <input type="text" class="form-control" id="discente_cpf">
                              </div>
                              <div id="card_discente_passaporte" class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                  <label >Nº do Passaporte</label>
                                  <input type="text" class="form-control" id="discente_passaporte">
                              </div>

                              <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                    <label >Sexo: </label>
                                    
                                    <select id="list_sexo" class="form-control" style="width: 100%;" name="id_sexo">
                                                <option value="1">Masculino</option>
                                                <option value="2">Feminino</option>
                                                <option value="3">Outro</option>
                                    </select>
                                          
                                </div>

                              
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <label >Endereço: País * </label>
                                        
                                        <select id="list_pais" class="form-control select2" style="width: 100%;" name="endereco_id_pais">
                                                <% for(var i = 0; i < paises.length ; i++){ %> 
                                                    <option value="<%= paises[i].id_pais %>"><%= paises[i].nome %> </option>
                                                <% } %>
                                        </select>
                                </div>

                              <div id="endereco_brasil" >

                                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                            <label >Estado * </label>
                                            
                                            <select id="list_estado" class="form-control select2" style="width: 100%;" name="endereco_id_estado">
                                                    
                                            </select>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                            <label >Cidade * </label>
                                            <select id="list_cidade" class="form-control select2" style="width: 100%;" name="endereco_id_cidade">
                                                    
                                            </select>
                                    </div>
                                    
                                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3" >
                                            <label >CEP *</label>
                                            <input type="text" class="form-control" id="discente_endereco_cep" name="endereco_cep">
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3" >
                                            <label >Bairro *</label>
                                            <input type="text" class="form-control" id="discente_endereco_bairro" name="endereco_bairro">
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3" >
                                            <label >Logradouro *</label>
                                            <input type="text" class="form-control" id="discente_endereco_logradouro" name="endereco_logradouro">
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-3 col-lg-3" >
                                            <label >Nº Residência *</label>
                                            <input type="text" class="form-control" id="discente_endereco_numresidencia" name="endereco_num_residencia">
                                    </div>
                                
                              </div>


                              <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                    <label >Nome de usuário * </label>
                                    <input type="text" class="form-control" id="discente_username" placeholder="exemplosilva2018">
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                    <label >Link perfil do Lattes</label>
                                    <input type="text" class="form-control" id="discente_linkperfillattes" >
                                </div>
  
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                      <label >Título * </label>
                                      
                                      <select id="list_titulos" class="form-control select2" style="width: 100%;" name="id_titulo">
                                              <% for(var i = 0; i < titulos.length ; i++){ %> 
                                                  <option value="<%= titulos[i].id_titulo %>"><%= titulos[i].nome %> </option>
                                              <% } %>
                                      </select>
                                            
                                  </div>
                                

                              <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="exampleInputEmail1">Email * </label>
                                <input type="email" class="form-control" id="discente_email" placeholder="exemplo@email.com">
                              </div>
                              <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="exampleInputPassword1">Senha * </label>
                                <input type="password" class="form-control" id="discente_senha" placeholder="Password">
                              </div>
                              <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <label for="exampleInputPassword1">Confirmar Senha *</label>
                                  <input type="password" class="form-control" id="discente_senha_conf" placeholder="Password">
                              </div>
                              
                            </div>
                            <!-- /.box-body -->
              
                            <div class="box-footer col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                              <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
                            </div>
                          </form>
                </div>
        </div>
        
    </div>
</body>
<script src="../bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="../javascripts/discente-registro.js"></script>
</html>